@model UrlDto


<form method="post" asp-action="PostUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Url" class="control-label"></label>
        <input asp-for="Url" class="form-control" required />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-outline-primary" />
    </div>
</form>
<br />
<label>Shortened Url</label>
<div class="url">
    <h6>@Model.Url</h6>
</div>